<header class="header-feedback-admin">
    <div>
        <h1>Coca Cola</h1>
        <ul class="header-feedback-admin__list">
            <li><a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a [routerLink]="['documentation']" routerLinkActive="active">Documentation</a></li>
            <li><a [routerLink]="['inbox']" routerLinkActive="active">Inbox</a></li>
        </ul>
    </div>
    <p>Welcome : {{username}}</p>
</header>