.documentation-container {
    margin-top: 2rem;
    max-width: 960px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: 'options content' '. tagcloudword' '. ndv3';
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    &__options {
        grid-area: options;
        ul {
            position: fixed;
            list-style: none;
            cursor: pointer;
            margin-top: 1rem;
        }
    }
    &__content {
        grid-area: content;
        div {
            scroll-margin-top: 50px;
            padding: 2.5rem;
            font-size: 1.5rem;
        }
    }
    &__tagcloudword {
        grid-area: tagcloudword;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__ndv3 {
        grid-area: ndv3;
    }
}