<section class="breadcrumb-navigation">
    <h2> <a [routerLink]="['/inbox']">Portals > {{breadcrumb | async}}</a><i class="fa fa-refresh" [ngClass]="{'fa-spin':show}" aria-hidden="true" (click)="emitRefecth()"></i> </h2>
    <!-- <breadcrumb #parent class="breadcrumb-navigation__path">
        <ol>
            <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                    <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                </li>
                <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}
                </li>
            </ng-template>
        </ol>
    </breadcrumb> -->
</section>