<section class="inbox-content-container">
    <div class="inbox-content-container__header">
        <div class="inbox-content-container__header__select">
            <form [formGroup]="formaSelect">
                <label for="select">Filter By: </label>
                <select formControlName="option" id="select">
                    <option [ngValue]="item" *ngFor="let item of options">{{item.name}}</option>
                </select>
            </form>
        </div>
        <div class="inbox-content-container__header__search">
            <form [formGroup]="forma" (ngSubmit)="onSubmit()">
                <input type="text" formControlName="value" />
                <button [disabled]="forma.invalid">🍳</button>
            </form>
        </div>
        <div class="inbox-content-container__header__actions">
            <span>Reports</span>
            <span>Exports</span>
            <span [routerLink]="['/feedback-admin/settings',feedBackResponse?.portal.portalName,feedBackResponse?.portal.portalId]">Settings</span>
        </div>
    </div>
    <div class="inbox-content-container__main" *ngIf="feedBackResponse" id="id-main">
        <h2>{{feedBackResponse.userComment}}</h2>
        <div>
            <span>Zoom</span>
            <span>
                <a href="javascript:void(0);" (click)="downloadImage(feedBackResponse.fakeImage)">Download
                </a>
            </span>
        </div>
    </div>

    <div class="inbox-content-container__image" *ngIf="feedBackResponse" id="id-image">
        <img [src]="feedBackResponse.fakeImage" alt="Image Feed">
    </div>
</section>