<section class="inbox-content-container">
    <div class="inbox-content-container__header">
        <div class="inbox-content-container__header__select">
            <label for="select">Filter By: </label>
            <select name="" id="select">
                <option value="FeedBackId">FeedBackId</option>
                <option value="Filer2">Filer2</option>
                <option value="Filer2">Filer3</option>
            </select>
        </div>
        <div class="inbox-content-container__header__search">
            <input type="text" />
        </div>
        <div class="inbox-content-container__header__actions">
            <span>Reports</span>
            <span>Exports</span>
            <span>Settings</span>
        </div>
    </div>
    <div class="inbox-content-container__main" *ngIf="feedBackResponse">
        <h2>{{feedBackResponse.userComment}}</h2>
        <div>
            <span>Zoom</span>
            <span>Dowload</span>
        </div>
    </div>

    <div class="inbox-content-container__image" *ngIf="feedBackResponse">
        <img [src]="feedBackResponse.fakeImage" alt="Image Feed">
    </div>
</section>