<section class="inbox-message-container">
    <div class="inbox-message-container__header">
        <div>
            ✉ Mensajes({{totalElements}})
        </div>
        <div><span (click)="lastPage()"> < </span>{{number+1}} de {{totalPages}} <span (click)="nextPage()">></span> </div>
    </div>
    <div class="inbox-message-container__messages">
        <ul>
            <li *ngFor="let message of content" (click)="messageSelected(message.feedbackItemId)">
                {{message.userComment}}
            </li>
        </ul>
    </div>
</section>