.inbox-message-container {
    width: 100%;
    &__header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        div {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    &__messages {
        ul {
            display: grid;
            grid-template-columns: 1ref;
            grid-auto-rows: minmax(50px, 50px);
            cursor: pointer;
            gap: .8rem;
            li {
                background-color: blanchedalmond;
            }
        }
    }
}