<div class="inbox-additional-container" *ngIf="feedBackResponse">
    <h3>Additional Information ^</h3>
    <div>
        <p>Id: {{feedBackResponse.feedbackItemId}}</p>
        <p>Type: {{feedBackResponse.feedbackType.name}}</p>
        <p>User: {{'anonymus'}}</p>
        <p>Date: 9 de Octubre del 2020</p>
        <p>Module: {{feedBackResponse.moduleName}}</p>
        <p>Url: {{feedBackResponse.pageUrl}}</p>
        <p>Browser: {{feedBackResponse.browserName}}</p>
        <p>OS: {{feedBackResponse.operatingSystemName}} {{feedBackResponse.operatingSystemVersion}}</p>
    </div>
</div>