<app-loading *ngIf="show"></app-loading>
<div class="portal" *ngIf="!show">
    <section class="portal__messages" *ngIf="feedBackResponseList">
        <app-message [content]="feedBackResponseList.content" [totalElements]="feedBackResponseList.totalElements" [totalPages]="feedBackResponseList.totalPages" (feedSelect)="feedSelect($event)" [number]="feedBackResponseList.number" (newPage)="newFeedBackResponseList($event)"></app-message>
    </section>
    <section class="portal__report">
        <app-content [feedBackResponse]="feedBackResponse" (emitValue)="feedSelect($event)"></app-content>
    </section>
    <section class="portal__additionals">
        <app-additional [feedBackResponse]="feedBackResponse"></app-additional>
        <app-extra [feedBackResponse]="feedBackResponse"></app-extra>
    </section>
</div>